DirectoryIndex index.html
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule !\.(js|gif|png|jpg|css|swf|xml|pdf|exe|cab)$ index.php [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
